<section id="fh5co-home" data-section="home" style="background-image: url('/union/images/full_image_1.jpg');" data-stellar-background-ratio="0.5">
	<div class="gradient"></div>
	<div class="container">
		<div class="text-wrap">
			<div class="text-inner">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h1 class="to-animate">이놈의 집구석..내가 꾸미겠다</h1>
						<h2 class="to-animate">ㅡ</h2>
						<!--<div class="call-to-action">-->
						<!--	<a href="#" class="demo to-animate">Demo</a>-->
						<!--	<a href="#fh5co-explore" class="download to-animate">Download</a>-->
						<!--</div>-->
						<button class="btn_1">Explore!</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<script>
$("button").click(function() {
    $('html,body').animate({
        scrollTop: $("#fh5co-explore").offset().top},
        'slow');
});
</script>

<section id="fh5co-explore" data-section="explore">
	<div class="container">
		<div class="row">
			<div class="col-md-12 section-heading text-center">
				<h2 class="to-animate">우리의 서비스를 설명해드릴게요</h2>
				<div class="row">
					<div class="col-md-8 col-md-offset-2 subtext to-animate">
						<h3>여러분의 센스있는 self-interior에 도움을 줄거에요 !</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="fh5co-explore">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-push-5 to-animate-2">
					<a href="/new">
						<img class="img-responsive" src="/union/images/index_new.jpg" alt="work" href="/room/new">
					</a>
				</div>
				<div class="col-md-4 col-md-pull-8 to-animate-2">
					<div class="mt">
						<h1>첫째, 방을 만드세요</h1>
						<p>손으로 방의 도면을 그렸다 지웠다하는 수고를 덜어드릴게요:)<br>
						언제든 여러 크기의 방을 만들수 있답니다!</p>
						<ul class="list-nav">
							<li><i class="icon-check2"></i>만들고자 하는 방의 제목을 지어주세요</li>
							<li><i class="icon-check2"></i>실측 가로,세로길이를 cm단위로 적어주세요</li>
							<li><i class="icon-check2"></i>'방만들기!'</li>
							
						</ul>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	
	<div class="fh5co-explore fh5co-explore-bg-color">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-pull-1 to-animate-3">
					<img class="img-responsive" src="/union/images/index_new2.jpg" alt="work">
				</div>
				<div class="col-md-4 to-animate-3">
					<div class="mt">
					<h1>둘째, 가구를 배치하세요</h1>
						<p>다양한 가구를 생성&배치할수 있어요.</p>
						<ul class="list-nav">
							<li><i class="icon-check2"></i>먼저, 배치할 가구의 이름을 적어주세요 <br>ex)침대, 책상</li>
							<li><i class="icon-check2"></i>가구의 가로,세로,색상,모양을 입력해주세요</li>
							<li><i class="icon-check2"></i>'만들기'를 누르면 가구가 생성된답니다</li>
							<li><i class="icon-check2"></i>만들어진 가구들을 원하는 자리에 배치하세요<br>
							방의 컨셉이나 설명을 적을수도 있어요.</li>
							<li><i class="icon-check2"></i>마지막에 저장하면 끝!</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="fh5co-explore">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-push-5 to-animate-2">
					<img class="img-responsive" src="/union/images/index_new3.jpg" alt="work">
				</div>
				<div class="col-md-4 col-md-pull-8 to-animate-2">
					<div class="mt">
						<h1>셋째, 내 페이지에서 관리하기</h1>
						<p>상단바의 내 이메일주소를 누르면 내가 만들었던 방들이 저장되어 있어요.
						<br>수정도 가능해요.
						<br>그럼, 맘에 쏙 드는 인테리어를 하시길 바라요 :)</p>
					</div>
					<!--<div class="btn_2"><a class="btn btn-success btn-lg btn-block" href="/users/sign_up" role="button">회원가입 하러가기!</a></div>-->

				</div>
			</div>
		</div>
	</div>
</section>
<div class="getting-started getting-started-1">
	<div class="container">
		<div class="row">
			<div class="col-md-6 to-animate">
				<h3>시작하기</h3>
				<p>"이놈의 집구석....내가 꾸미겠다"는 김문태와 배혜원이 만든 것으로... </p>
			</div>
			<div class="col-md-6 to-animate-2">
				<div class="call-to-action text-right">
					<a href="/users/sign_up" class="sign-up">회원가입</a>
				</div>
			</div>
		</div>
	</div>
</div>



<!-- jQuery -->
<script src="/union/js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="/union/js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="/union/js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="/union/js/jquery.waypoints.min.js"></script>
<!-- Stellar Parallax -->
<script src="/union/js/jquery.stellar.min.js"></script>
<!-- Owl Carousel -->
<script src="/union/js/owl.carousel.min.js"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>
<script src="/union/js/google_map.js"></script>
<!-- Main JS (Do not remove) -->
<script src="/union/js/main.js"></script>

</body>
</html>
